openapi: 3.0.0
info:
  description: |
    De definitie van de Publiekrechtelijke beperkingen endpoints en components.
  title: Kadaster - Publiekrechtelijke beperkingen
  version: 1.3.0
servers:
- url: /
paths:
  /publiekrechtelijkebeperkingen:
    get:
      description: |
        Zoeken van de publiekrechtelijke beperkingen op een kadastraal onroerende zaak.
      operationId: GetPubliekrechtelijkeBeperkingen
      parameters:
      - description: Hiermee kun je de inhoud van de resource naar behoefte aanpassen
          door een door komma's gescheiden lijst van property namen op te geven. Bij
          opgave van niet-bestaande properties wordt een 400 Bad Request teruggegeven.
          Wanneer de fields parameter niet is opgegeven, worden alle properties met
          een waarde teruggegeven. Zie [functionele specificaties](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/fields.feature)
        explode: true
        in: query
        name: fields
        required: false
        schema:
          type: string
        style: form
      - description: |
          De unieke identificatie van een kadastraal onroerende zaak. Gezocht wordt naar publiekrechtelijke beperkingen die rusten op de onroerende zaak
        explode: true
        in: query
        name: kadastraalOnroerendeZaakIdentificatie
        required: true
        schema:
          type: string
        style: form
      - description: |
          Een categorie van grondslaghen (aardaantekeningen). Bijvoorbeeld om op alle privaatrechtelijkebeperkingen met een grondslag die iets met monumenten te maken heeft (16 grondslagen) te kunnen selecteren. (Zie ./features/grondslagCategorie.feature
        explode: true
        in: query
        name: grondslagCategorie
        required: false
        schema:
          $ref: '#/components/schemas/CategorieEnum'
        style: form
      - description: |
          Indien true dan worden ook beperkingen met een datumBeeindiging in het verleden meegeleverd.
        explode: true
        in: query
        name: inclusiefBeeindigdeBeperkingen
        required: false
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/PubliekrechtelijkeBeperkingHalCollectie'
          description: |
            Zoekactie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
            warning:
              $ref: '#/components/headers/warning'
        "400":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.1
                title: Ten minste één parameter moet worden opgegeven.
                status: 400
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalidParams:
                - type: https://www.vng.nl/realisatie/api/validaties/integer
                  name: verblijfplaats__huisnummer
                  code: integer
                  reason: Waarde is geen geldige integer.
              schema:
                $ref: '#/components/schemas/BadRequestFoutbericht'
          description: Bad Request
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "401":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.2
                title: Niet correct geauthenticeerd.
                status: 401
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Unauthorized
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "403":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.4
                title: U bent niet geautoriseerd voor deze operatie.
                status: 403
                detail: The server understood the request, but is refusing to fulfill
                  it.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Forbidden
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "406":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.7
                title: Gevraagde contenttype wordt niet ondersteund.
                status: 406
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to thr accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Not Acceptable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "500":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.1
                title: Interne server fout.
                status: 500
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Internal Server Error
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
        "503":
          content:
            application/problem+json:
              example:
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.5.4
                title: Bronservice {bron} is tijdelijk niet beschikbaar.
                status: 503
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
              schema:
                $ref: '#/components/schemas/Foutbericht'
          description: Service Unavailable
          headers:
            api-version:
              $ref: '#/components/headers/api_version'
      tags:
      - Publiekrechtelijke Beperkingen
      x-accepts: application/hal+json,application/problem+json
components:
  headers:
    api_version:
      explode: false
      schema:
        description: Geeft een specifieke API-versie aan in de context van een specifieke
          aanroep.
        example: 1.0.0
        type: string
      style: simple
    warning:
      explode: false
      schema:
        description: zie RFC 7234. In het geval een major versie wordt uitgefaseerd,
          gebruiken we warn-code 299 ("Miscellaneous Persistent Warning") en het API
          end-point (inclusief versienummer) als de warn-agent van de warning, gevolgd
          door de warn-text met de human-readable waarschuwing
        example: '299 https://service.../api/.../v1 "Deze versie van de API is verouderd
          en zal uit dienst worden genomen op 2018-02-01. Raadpleeg voor meer informatie
          hier de documentatie: https://omgevingswet.../api/.../v1".'
        type: string
      style: simple
  schemas:
    Beperkingsgebied:
      properties:
        bagObjectIdentificatie:
          items:
            type: string
          type: array
        bgtObjectIdentificatie:
          items:
            type: string
          type: array
        kadastraalOnroerendeZaakIdentificaties:
          items:
            type: string
          type: array
        vrijeContour:
          $ref: '#/components/schemas/VrijeContour'
    CategorieEnum:
      enum:
      - dwangsom
      - handhaving
      - monument
      type: string
    PubliekrechtelijkeBeperking:
      description: |
        Beperkingen op een kadastraal onroerende zaak die door de overheid zijn opgelegd. Deze bepalen wat een eigenaar wel of niet mag doen met een woning, een ander gebouw of een stuk grond. Het gaat het bijvoorbeeld om beschermde monumenten, natuurmonumenten, bodembescherming, eisen die binnen de Woningwet worden gesteld, of maatregelen die nodig zijn voor landsverdediging.
      properties:
        identificatie:
          type: string
        domein:
          description: |
            Het domein waartoe de identificatie behoort.
          type: string
        grondslag:
          $ref: '#/components/schemas/Waardelijst'
        datumInWerking:
          format: date
          type: string
        datumBeeindiging:
          format: date
          type: string
        bevoegdGezag:
          $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt'
        stukIdentificaties:
          description: |
            Identificatie van het stuk. Een stuk is een brondocument dat aanleiding geeft
            tot een wijziging van de gegevens in een basisregistratie.
            Dit kan een aangeboden stuk of een kadasterstuk zijn.
          items:
            type: string
          type: array
        isGebaseerdOpStukdeelIdentificatie:
          description: |
            De identificatie van het stukdeel (paragraaf in een akte met een rechtsfeit) waarop deze publiekrechtelijke beperking is gebaseerd.
          type: string
        isVermeldInStukdeelIdentificaties:
          description: |
            De identificaties van de stukdelen (paragrafen in een akte met een rechtsfeit) waarin deze publiekrechtelijke beperking gerechtigde is vermeld.
          items:
            type: string
          type: array
        beperkingsgebied:
          $ref: '#/components/schemas/Beperkingsgebied'
      type: object
    Waardelijst:
      properties:
        code:
          minLength: 1
          type: string
        waarde:
          type: string
      type: object
    PubliekrechtelijkeBeperkingHal:
      allOf:
      - $ref: '#/components/schemas/PubliekrechtelijkeBeperking'
      - $ref: '#/components/schemas/PubliekrechtelijkeBeperkingHal_allOf'
    PubliekrechtelijkeBeperkingHalCollectie:
      properties:
        _links:
          $ref: '#/components/schemas/HalCollectionLinks'
        _embedded:
          $ref: '#/components/schemas/PubliekrechtelijkeBeperkingHalCollectieEmbedded'
      type: object
    PubliekrechtelijkeBeperkingHalCollectieEmbedded:
      properties:
        publiekrechtelijkeBeperkingen:
          items:
            $ref: '#/components/schemas/PubliekrechtelijkeBeperkingHal'
          type: array
      type: object
    PubliekrechtelijkeBeperkingLinks:
      properties:
        bevoegdGezag:
          $ref: '#/components/schemas/HalLink'
        stukken:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
        isGebaseerdOpStukdeel:
          $ref: '#/components/schemas/HalLink'
        isVermeldInStukdelen:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
        kadastraalOnroerendeZaak:
          items:
            $ref: '#/components/schemas/HalLink'
          type: array
      type: object
    VrijeContour:
      properties:
        vlak:
          $ref: '#/components/schemas/polygonGeoJSON'
        multivlak:
          $ref: '#/components/schemas/multipolygonGeoJSON'
      type: object
    BadRequestFoutbericht:
      allOf:
      - $ref: '#/components/schemas/Foutbericht'
      - $ref: '#/components/schemas/BadRequestFoutbericht_allOf'
    Foutbericht:
      description: Terugmelding bij een fout. JSON representatie in lijn met [RFC7807](https://tools.ietf.org/html/rfc7807).
      properties:
        type:
          description: Link naar meer informatie over deze fout
          format: uri
          type: string
        title:
          description: Beschrijving van de fout
          type: string
        status:
          description: Http status code
          type: integer
        detail:
          description: Details over de fout
          type: string
        instance:
          description: Uri van de aanroep die de fout heeft veroorzaakt
          format: uri
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          minLength: 1
          type: string
      type: object
    InvalidParams:
      description: Details over fouten in opgegeven parameters
      properties:
        type:
          example: https://www.vng.nl/realisatie/api/{major-versie}/validaties/integer
          format: uri
          type: string
        name:
          description: Naam van de parameter
          example: verblijfplaats__huisnummer
          type: string
        code:
          description: Systeemcode die het type fout aangeeft
          example: integer
          minLength: 1
          type: string
        reason:
          description: Beschrijving van de fout op de parameterwaarde
          example: Waarde is geen geldige integer.
          type: string
      type: object
    NietNatuurlijkPersoonBeperkt:
      allOf:
      - $ref: '#/components/schemas/PersoonBasis'
      - $ref: '#/components/schemas/NietNatuurlijkPersoonBeperkt_allOf'
    PersoonBasis:
      description: |
        Een persoon kan een natuurlijk persoon of een niet-natuurlijk persoon zijn. Kan zowel een ingeschreven persoon (in resp. BRP of KvK) of Kadasterpersoon zijn.
      properties:
        identificatie:
          description: |
            Unieke identificatie voor de persoon. Voor een Kadasterpersoon is dit de identificatie zoals die door het Kadaster is vastgesteld. Voor een ingeschreven natuurlijk persoon is dit het burgerservicenummer. Voor een ingeschreven niet-natuurlijk persoon is dit het RSIN. Of de waarde in identificatie een burgerservicenummer, een RSIN of een kadasterpersoonidentificatie is kan worden afgeleid uit het type persoon.
          type: string
        omschrijving:
          description: |
            Voor mensen leesbare, herkenbare en identificerende omschrijving van de persoon (met bijvoorbeeld de naam).
          type: string
      type: object
    NietNatuurlijkPersoonTypeEnum:
      description: |
        Een aanduiding die aangeeft of de persoon ingeschreven is in het Handelsregister (KvK) met een rsin, dan wel vastgelegd is bij het Kadaster.
      enum:
      - ingeschreven_niet_natuurlijk_persoon
      - kadaster_niet_natuurlijk_persoon
      type: string
    HalCollectionLinks:
      description: |
        HalCollectionLinks bevat de self link die elke HAL Resource minimaal moet hebben in zijn _links property
      properties:
        self:
          $ref: '#/components/schemas/HalLink'
      type: object
    HalLink:
      description: De Link Object zoals gespecificeerd in https://tools.ietf.org/html/draft-kelly-json-hal-08#section-5;
        Deze link kan als templated link worden aangeboden. [URI-templating is hier
        beschreven](https://github.com/VNG-Realisatie/Haal-Centraal-common/blob/v1.2.0/features/uri-templating.feature).
      properties:
        href:
          example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
          type: string
        templated:
          type: boolean
        title:
          description: Voor mens leesbaar label bij de link
          type: string
      required:
      - href
      type: object
    Href:
      example: https://datapunt.voorbeeldgemeente.nl/api/v{major-versie}/resourcename/{resource-identificatie}
      type: string
    polygonGeoJSON:
      properties:
        type:
          enum:
          - Polygon
          type: string
        coordinates:
          items:
            items:
              items:
                type: number
              minItems: 2
              type: array
            minItems: 4
            type: array
          type: array
      required:
      - coordinates
      - type
      type: object
    multipolygonGeoJSON:
      properties:
        type:
          enum:
          - MultiPolygon
          type: string
        coordinates:
          items:
            items:
              items:
                items:
                  type: number
                minItems: 2
                type: array
              minItems: 4
              type: array
            type: array
          type: array
      required:
      - coordinates
      - type
      type: object
    PubliekrechtelijkeBeperkingHal_allOf:
      properties:
        _links:
          $ref: '#/components/schemas/PubliekrechtelijkeBeperkingLinks'
    BadRequestFoutbericht_allOf:
      properties:
        invalidParams:
          description: Foutmelding per fout in een parameter. Alle gevonden fouten
            worden één keer teruggemeld.
          items:
            $ref: '#/components/schemas/InvalidParams'
          type: array
    NietNatuurlijkPersoonBeperkt_allOf:
      description: |
        Een niet-natuurlijk persoon.
      properties:
        type:
          $ref: '#/components/schemas/NietNatuurlijkPersoonTypeEnum'

